
/*
html, body {
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  min-width: 100vw;
  margin: 0;
}
*/

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
}